.header
.container
  .home-select
    | Select a game!
  ul.home-game-list
    li.home-game
      a(href='/memory') Memory
    li.home-game
      a(href='/minesweeper') Minesweeper
    li.home-game
      a(href='/tetris') Tetris
    li.home-game
      a(href='/shmup') Shmup
